$white: #fff;
$grey: rgb(248, 248, 248);
$orange: #E75624;
$light-grey: #ebe2e2;
$yellow: #F7CF0D;
$black: #000000;
$pagination: #D9D9D9;
$smallText: #999999;
$orangeCradient: linear-gradient(90deg, #FF6800 0%, #FF1F00 100%);
$montserrat: 'Montserrat', sans-serif;
$poppins: 'Poppins', sans-serif;
$radex: 'Readex Pro', sans-serif;